<!-- <h1>Dashboard#home</h1>
<p>Find me in app/views/dashboard/home.html.erb</p> -->


 <script src="http://cdn.jsdelivr.net/npm/vue"></script>




<body class="body-home">

<% user_signed_in? && current_user.email == 'austin@sequoiacpe.com' ? @name = 'Austin' : '' %>
<h2> <%#= image_tag "/assets/logo2.png", class: 'logo'%> <span class="name-text text-center"><%= @name %>'s Dashboard</span>

<!-- <div class="dropdown header-size floating-box pull-left">
    <button class="btn-small name-text" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></button>
    <ul class="dropdown-menu multi-level">
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Courses</a>
        <ul class="dropdown-menu">
            <li>
              <a tabindex="-1"href="/datasheets">Datasheet</a>
              <a tabindex="-1"href="/updatesheets">Updatesheet</a>
              <a tabindex="-1"href="/exams">Exams</a>
            </li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Marketing</a>
        <ul class="dropdown-menu">
            <li>
              <a tabindex="-1"href="/mail_schedules">Mail Schedule</a>
              <a tabindex="-1"href="/mail_items">Mail contents</a>
            </li>
        </ul>
      </li>
      <li class="divider"></li>
      <% if user_signed_in? %>
        <li><a href="/users/sign_out">Log out</a></li>
      <% elsif %>
        <li><a href="/users/sign_up">Sign up</a></li>
        <li><a href="/users/sign_in">Log in</a></li>

      <% end %>
    </ul>
  </div> -->


  <!-- New Right Side -->

  <div class="dropdown header-size pull-right">
      <button class="btn-small name-text" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></button>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Courses</li>
        <!-- <li class="divider"></li> -->
            <li><a href="/datasheets">Datasheet</a></li>
            <li><a href="/updatesheets">Updatesheet</a></li>
            <li>  <a href="/exams">Exams</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Marketing</li>
            <li><a tabindex="-1"href="/mail_schedules">Mail Schedule</a></li>
            <li><a tabindex="-1"href="/mail_items">Mail contents</a></li>
        <% if user_signed_in? && current_user.superadmin_role?%>
        <li class="divider"></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/users/sign_out">Log out</a></li>
        <% elsif user_signed_in? %>
        <li class="divider"></li>
            <li><a href="/users/sign_out">Log out</a></li>
        <% elsif %>
        <li class="divider"></li>
            <li><a href="/users/sign_up">Sign up</a></li>
            <li><a href="/users/sign_in">Log in</a></li>
        <% end %>
          </ul>
    </div>

</h2>
<br />

  <div class="col-sm-3" id="app">
    <div class="well">
    <h2 class="text-center"> Quick Notes</h2>
    <h4 class="text-center body-text"> Vue.js Local Storage </h4>
    <input class="form-control" placeholder="Add A New Simple Task" v-model="newTodo" @keydown.enter="addTodo">
</br>
    <div class="list-unstyled list-group" >
      <span v-for="todo in todos" :class="{ completed: todo.completed }" class="list-group-item">
        <input type="checkbox" v-model="todo.completed">
        <button class="btn glyphicon glyphicon-remove" @click="remove(todo)"></button>
        <input type="text" v-if="todo === editTodo" v-auto-focus class="" @keyup.enter="endEdit(todo)" @blur="endEdit(todo)" v-model="todo.text">
        <label  class="" v-if="todo !== editTodo" @dblclick="edit(todo)">{{ todo.text }}</label>
      </span>
    </div>
  </div>


<div class="well">
    <h2 class="text-center">Future Tasks</h2>
    <div class="text-center"><%= link_to 'New Task', new_note_path, class: 'btn btn-primary' %></div>
    <h4 class="text-center body-text">Database Storage</h4>
  </br>
  <!-- <table class=""> -->
      <!-- <tbody> -->
    <% @notes.each do |note| %>
        <!-- Trigger the modal with a button -->
    <!-- <span class="list-group"> -->

        <li class="list-group-item"><button type="button" class="btn btn-wrap-text text-align-right" data-toggle="modal" data-target="#myModal"><%= note.title %></button></li>

    <!-- </span> -->
        <!-- Modal -->

        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">

                  <%= note.title %> | <%= link_to 'Edit', edit_note_path(note) %>

                </h4>
              </div>
              <div class="modal-body">
                <!-- <% note.user_id %> -->
                <% if user_signed_in? && note.user_id == current_user.id%>
                  <tr>
                      <%= note.note %>
                    <!-- <td><%= note.user_id %></td> -->
                    <!-- <td><%= link_to 'Show', note %></td> -->
                    <!-- <td><%= link_to 'Edit', edit_note_path(note) %></td> -->
                  </tr>
                <% end %>
              </div>
              <div class="modal-footer">

                  <% if note.done == false %>
                    Status: <i class="fa fa-check-circle fa-2x table-icons-green"></i>
                  <% elsif %>
                    Status: <i class="fa fa-check-circle fa-2x table-icons-green"></i>
                  <% end %>

                  <% if note.type_one == true %>
                    | Type: One
                  <% elsif note.type_two == true %>
                    | Type: Two
                  <% elsif note.type_three == true%>
                    | Type: Three
                  <% end %>

                  <!-- <%= link_to 'Remove', note, method: :delete, data: { confirm: 'Are you sure?' } %> -->

                  <% if note.due == true %>
                    | <%= note.due_date %>
                  <% elsif %>
                  <p></p>
                  <% end%>



                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close

                </button>
              </div>
            </div>

          </div>
        </div>





<% end %>
      <!-- </tbody> -->
    <!-- </table> -->
  </div>
</div>

 <div class="col-sm-6">
  <div class="well">
  <h2 class="text-center">Upcoming Schedule</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <!-- <th>Mail</th> -->
        <th><h4 class="body-text">Title</h4></th>
        <th><h4 class="body-text">Deliver Date</h4></th>
        <th><h4 class="body-text">Drop Date</h4></th>
        <th><h4 class="body-text">Art</h4></th>
        <!-- <th>Quantity</th>
        <th>Data File</th>
        <th>Art File</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mail_items.each do |mail_item| %>
        <tr>
          <!-- <td><%= mail_item.mailSchedule.mail_id %></td> -->
          <td><%= mail_item.title %></td>
          <td><%= (mail_item.mailSchedule.drop_date - 10).strftime('%m/%d/%y') %></td>
          <td><%= mail_item.mailSchedule.drop_date.strftime('%m/%d/%y') %></td>
          <% if mail_item.complete == true %>
            <td><i class="fa fa-check-circle fa-2x table-icons-green"></i></td>
          <% elsif %>
            <td><i class="fa fa-times-circle fa-2x table-icons-red"></i></td>
          <% end %>

          <!-- <td><%= mail_item.quantity %></td>

          <td><%= mail_item.mail_id.to_f / 10 %>.xlsx</td>
          <td><%= mail_item.mail_id.to_f / 10 %>.pdf</td> -->

          <td><%= link_to 'Materials', mail_item, class: 'btn btn-default' %></td>

          <!-- <td><%= link_to 'Edit', edit_mail_item_path(mail_item) %></td>
          <td><%= link_to 'Destroy', mail_item, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>




</div>

  <div class="col-sm-6 length right-square well">
    <!-- <h2 class="text-center">Sales Data</h2> -->
    <!-- <h4 class="body-text text-center"> <%= (Date.today - 8).strftime('%b, %d') %> - <%= (Date.today - 1).strftime('%b, %d') %> </h4> -->
    <!-- <h4 class="body-text text-center"> <%= (Date.today).strftime('%a %b, %d %Y') %> </h4> -->

     <% @object = @output.join('') %>
     <%#= @object[0..25] %>
     <%#= @object %>

     <%#= @outputHTML.html_safe %>

<!-- Today - 1 -->
<% @CPA_day_sales_1 = [] %>
<% @EA_day_sales_1 = [] %>
<% @day_sales_1 = [] %>

<!-- Today - 2 -->
<% @CPA_day_sales_2 = [] %>
<% @EA_day_sales_2 = [] %>
<% @day_sales_2 = [] %>

<!-- Today - 3 -->
<% @CPA_day_sales_3 = [] %>
<% @EA_day_sales_3 = [] %>
<% @day_sales_3 = [] %>

     <% @output.each do |i| %>
     <!-- Today - 1 -->
       <% i['license'] == 'EA' && i['pur_date'] == (Date.today - 1).to_s ? @EA_day_sales_1.push(i['order_total']) : '' %>
       <% i['license'] == 'CPA' && i['pur_date'] == (Date.today - 1).to_s ? @CPA_day_sales_1.push(i['order_total']) : '' %>
       <% i['pur_date'] == (Date.today - 1).to_s ? @day_sales_1.push(i['order_total']) : '' %>

     <!-- Today - 2 -->
       <% i['license'] == 'EA' && i['pur_date'] == (Date.today - 2).to_s ? @EA_day_sales_2.push(i['order_total']) : '' %>
       <% i['license'] == 'CPA' && i['pur_date'] == (Date.today - 2).to_s ? @CPA_day_sales_2.push(i['order_total']) : '' %>
       <% i['pur_date'] == (Date.today - 2).to_s ? @day_sales_2.push(i['order_total']) : '' %>

     <!-- Today - 3 -->
       <% i['license'] == 'EA' && i['pur_date'] == (Date.today - 3).to_s ? @EA_day_sales_3.push(i['order_total']) : '' %>
       <% i['license'] == 'CPA' && i['pur_date'] == (Date.today - 3).to_s ? @CPA_day_sales_3.push(i['order_total']) : '' %>
       <% i['pur_date'] == (Date.today - 3).to_s ? @day_sales_3.push(i['order_total']) : '' %>
     <% end %>

<!-- PIE CHART -->
    <% @cpaB = [] %> <% @cpaB1 = ['CPA'] %>
    <% @eaB = [] %> <% @eaB1 = ['EA'] %>
    <% @bar = [] %>

       <% @output.each do |i| %>
         <% i['license'] == 'CPA' ? @cpaB.push(i['license']) : '' %>
         <% i['license'] == 'EA' ? @eaB.push(i['license']) : '' %>
       <% end %>

     <% @cpaL = @cpaB.length %> <% @cpaB1.push(@cpaL) %>
     <% @eaL = @eaB.length %><% @eaB1.push(@eaL) %>
     <% @bar.push(@cpaB1, @eaB1) %>

<!-- PIE CHART -->
<!-- COLUMN CHART 1-->
    <% @sales_1 = [] %><% @sales_1A = {} %>
    <% @sales_2 = [] %><% @sales_2A = {} %>
    <% @sales_3 = [] %><% @sales_3A = {} %>
    <% @sales_4 = [] %><% @sales_4A = {} %>
    <% @sales_5 = [] %><% @sales_5A = {} %>
    <% @sales_6 = [] %><% @sales_6A = {} %>
    <% @sales_7 = [] %><% @sales_7A = {} %>

    <% @output.each do |i| %>
      <% i['pur_date'] == (Date.today - 1).to_s ? @sales_1.push(i['order_total']) : '' %>
      <% i['pur_date'] == (Date.today - 2).to_s ? @sales_2.push(i['order_total']) : '' %>
      <% i['pur_date'] == (Date.today - 3).to_s ? @sales_3.push(i['order_total']) : '' %>
      <% i['pur_date'] == (Date.today - 4).to_s ? @sales_4.push(i['order_total']) : '' %>
      <% i['pur_date'] == (Date.today - 5).to_s ? @sales_5.push(i['order_total']) : '' %>
      <% i['pur_date'] == (Date.today - 6).to_s ? @sales_6.push(i['order_total']) : '' %>
      <% i['pur_date'] == (Date.today - 7).to_s ? @sales_7.push(i['order_total']) : '' %>
    <% end %>

    <% @sales_1.each do |key, value| %>
      <% @sales_1A[(Date.today - 1).strftime('%a, %-d')] = @sales_1.inject(0, :+) %>
      <% @sales_2A[(Date.today - 2).strftime('%a, %-d')] = @sales_2.inject(0, :+) %>
      <% @sales_3A[(Date.today - 3).strftime('%a, %-d')] = @sales_3.inject(0, :+) %>
      <% @sales_3A[(Date.today - 4).strftime('%a, %-d')] = @sales_4.inject(0, :+) %>
      <% @sales_3A[(Date.today - 5).strftime('%a, %-d')] = @sales_5.inject(0, :+) %>
      <% @sales_3A[(Date.today - 6).strftime('%a, %-d')] = @sales_6.inject(0, :+) %>
      <% @sales_3A[(Date.today - 7).strftime('%a, %-d')] = @sales_7.inject(0, :+) %>
    <% end %>

    <% @barG = @sales_1A.merge( @sales_2A ).merge( @sales_3A ).merge( @sales_4A ).merge( @sales_5A ).merge( @sales_6A ).merge( @sales_7A ) %>

<!-- COLUMN CHART 1-->
<!-- COLUMN CHART 2-->

    <% @salesM_1 = [] %><% @salesM_1A = {} %>
    <% @salesM_2 = [] %><% @salesM_2A = {} %>
    <% @salesM_3 = [] %><% @salesM_3A = {} %>
    <% @salesM_4 = [] %><% @salesM_4A = {} %>
    <% @salesM_5 = [] %><% @salesM_5A = {} %>
    <% @salesM_6 = [] %><% @salesM_6A = {} %>

    <% @output.each do |i| %>
      <% i['pur_date'].to_date.strftime('%m,%y') == (Date.today).strftime('%m,%y') ? @salesM_1.push(i['order_total']) : '' %>
      <% i['pur_date'].to_date.strftime('%m,%y') == (Date.today - 30 ).strftime('%m,%y') ? @salesM_2.push(i['order_total']) : '' %>
      <% i['pur_date'].to_date.strftime('%m,%y') == (Date.today - 60 ).strftime('%m,%y') ? @salesM_3.push(i['order_total']) : '' %>
      <% i['pur_date'].to_date.strftime('%m,%y') == (Date.today - 90 ).strftime('%m,%y') ? @salesM_4.push(i['order_total']) : '' %>
      <% i['pur_date'].to_date.strftime('%m,%y') == (Date.today - 120 ).strftime('%m,%y') ? @salesM_5.push(i['order_total']) : '' %>
      <% i['pur_date'].to_date.strftime('%m,%y') == (Date.today - 150 ).strftime('%m,%y') ? @salesM_6.push(i['order_total']) : '' %>
    <% end %>

    <% @sales_1.each do |key, value| %>
      <% @salesM_1A[(Date.today - 1).strftime('%b, %y')] = @salesM_1.inject(0, :+) %>
      <% @salesM_2A[(Date.today - 30 ).strftime('%b, %y')] = @salesM_2.inject(0, :+) %>
      <% @salesM_3A[(Date.today - 60 ).strftime('%b, %y')] = @salesM_3.inject(0, :+) %>
      <% @salesM_4A[(Date.today - 90 ).strftime('%b, %y')] = @salesM_4.inject(0, :+) %>
      <% @salesM_5A[(Date.today - 120 ).strftime('%b, %y')] = @salesM_5.inject(0, :+) %>
      <% @salesM_6A[(Date.today - 150 ).strftime('%b, %y')] = @salesM_6.inject(0, :+) %>
    <% end %>

    <% @barGM = @salesM_1A.merge( @salesM_2A ).merge( @salesM_3A ).merge( @salesM_4A ).merge( @salesM_5A ).merge( @salesM_6A ) %>

<!-- COLUMN CHART 2-->

     <ul class="nav nav-tabs">
       <li class="active"><a data-toggle="tab" href="#total-sales">Daily</a></li>
       <li><a data-toggle="tab" href="#month-sales">Monthly</a></li>
       <li><a data-toggle="tab" href="#pie-sales">Distribution</a></li>
     </ul>

     <div class="tab-content">
       <div id="total-sales" class="tab-pane fade in active text-center">
        <h2 class=""><%= (Date.today - 1).strftime('%A') %>: <br /> <%= number_to_currency(@day_sales_1.inject(0, :+), precision: 0) %></h2>
        <%= bar_chart @barG, prefix: "$", thousands: "," %>
       </div>

       <div id="month-sales" class="tab-pane fade text-center">
        <h2 class=""><%= (Date.today - 3).strftime('%b') %> To Date: <%= number_to_currency(@salesM_1.inject(0, :+), precision: 0) %></h2>
          <%= bar_chart @barGM, prefix: "$", thousands: "," %>
          <% @barGM %>
       </div>

       <div id="pie-sales" class="tab-pane fade">
        <h2 class=""><%= (Date.today - 30).strftime('%Y') %></h2>
        <%= pie_chart @bar %>
       </div>
     </div>


  </div>
  <div class="col-sm-6 length left-square well">

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#1">Tab 1</a></li>
      <li><a data-toggle="tab" href="#2">Tab 2</a></li>
    </ul>

    <div class="tab-content">
      <div id="1" class="tab-pane fade in active">
        <br/.>
        <h3 class="body-text"> Product sales info?</h3>
        <!-- <p class="body-text"> IE Renewals </p> -->

      </div>
      <div id="2" class="tab-pane fade">
      </div>
    </div>

  </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="well">
    <h2 class="text-center">Course Updates</h2>

    <% @status_check = [] %>
    <% @updatesheets.each do |updatesheet| %>
      <% if updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true && updatesheet.proofed == true %>
        <% @status_check.push(0) %>
      <% elsif %>
        <% @status_check.push(1) %>
      <% end %>
    <% end %>

    <!-- Status is pushed into an array done =1 not_done =2 ex: [1,2,1] => work needs to be done-->
    <!-- <%# if @status_check.itself.uniq.length == 1 %> -->

    <% if (@status_check.inject(0, :+)) == 0 %>
    <!-- <h3 class="green_text"> Courses are up to date </h3> -->
    <h4 class="text-center body-text"> No courses inprogress <%= link_to '', updatesheets_path, class: 'btn-bigger1 glyphicon glyphicon-info-sign green btn btn-default' %></h4>
    <%elsif (@status_check.inject(0, :+)) == 1 %>
    <h4 class="text-center body-text"> <i class=""></i> <%=(@status_check.inject(0, :+))%> course inprogess <%= link_to '', updatesheets_path, class: 'btn-bigger1 glyphicon glyphicon-info-sign yellow btn btn-default' %></h4>
    <%elsif %>
    <h4 class="text-center body-text"> <%=(@status_check.inject(0, :+))%> courses inprogess <%= link_to '', updatesheets_path, class: 'btn-bigger1 glyphicon glyphicon-info-sign yellow btn btn-default' %></h4>
    <%end%>
    <h4 class="text-center"><%= link_to 'Add Update', datasheets_path, class: 'btn btn-primary' %><h4>


</div>


<div class="well">
  <h2 class="text-center">Recent Orders</h2>

<% @name = [] %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>product</th>
      <th>Des</td>
      <th colspan="3"></th>
    </tr>
  <thead>
<tbody>
  <% @output.last(10).reverse.each do |orders| %>
  <tr>
    <td><%= (orders["f_name"])%> <%= truncate((orders["l_name"]), :length => 8)%></td>
    <td><%= (orders["product_1"]) %></td>
    <td><%=(orders['license']) %> </td>
  </tr>
  <% end %>
</tbody>
</table>

</div>

  <div class="well">
    <h2 class="text-center">Exams</h2>

    <!-- <% @day = Exam.group(:des, :seq_number).order(:des, :seq_number).count %>

    <% @day.each do | k , v | %>
      <div><%#= e.join(":  ") %></div>
      <div><%= k.join( " - ") %> taken <%= v %> times</div>

    <%end%> -->



    <%# ordersheet.pur_date == (@today - 1) ? @today_sales_1.push(ordersheet.order_total) : '' %>



    <h4 class="body-text text-center">Taken over the past year </h4>


    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#cpa-exam">CPA</a></li>
      <li><a data-toggle="tab" href="#ea-exam">EA</a></li>
    </ul>

    <div class="tab-content">
      <div id="cpa-exam" class="tab-pane fade in active">
        <!-- <h5>Exams taken over the last year</h5> -->
        <%= bar_chart Exam.where(:complete_date => 1.year.ago..Time.now, des: 'CPA').group(:seq_number).count %>
      </div>
      <div id="ea-exam" class="tab-pane fade">
        <!-- <h5>Exams taken over the last year</h5> -->
        <%= bar_chart Exam.where(:complete_date => 1.year.ago..Time.now, des: 'EA').group(:seq_number).count %>
      </div>
    </div>



    <%#= bar_chart Exam.where(des: 'CPA').group(:seq_number).count %>
    <%#= bar_chart Exam.where(des: 'EA').group(:seq_number).count %>
    <%#= bar_chart Exam.where(:complete_date => 1.months.ago..Time.now).group(:seq_number).count %>
    <%#= bar_chart Exam.where(:complete_date => 1.year.ago..Time.now).group(:seq_number).count %>

<!-- 'start BETWEEN ? AND ?', DateTime.now.beginning_of_day, DateTime.now.end_of_day -->
    <!-- <%= bar_chart Exam.where(des: 'CPA').group(:seq_number).count %>
    <%= bar_chart Exam.where(des: 'EA').group(:seq_number).count %> -->

  </div>
</div>


</body>


<script>

var todo = new Vue({
  el: '#app',
  data: {
    newTodo: '',
    todos: [],
    editTodo: {}
  },
  methods: {
    addTodo() {
      this.todos.push({ text: this.newTodo, completed: false });
      this.newTodo = '';
    },
    remove(todo) {
      console.log('removed');
      let index = this.todos.indexOf(todo)
      this.todos.splice(index, 1)
      localStorage.setItem('todos', JSON.stringify(this.todos));
    },
    edit(todo) {
      console.log('edit');
      this.editTodo = todo;
    },

    endEdit(todo) {
      console.log('editEnd');
      this.editTodo = {};
      if (todo.text.trim() === ""){
        this.remove(todo);
      }
    },

  },
  mounted() {
    console.log('mounted');
    if (localStorage.getItem('todos')) this.todos = JSON.parse(localStorage.getItem('todos'));
  },
  watch: {
    todos: {
      handler() {
        console.log('changed');
        localStorage.setItem('todos', JSON.stringify(this.todos));
      },
      deep: true,
    },
  },
});

</script>
