<!-- <h1>Dashboard#home</h1> -->




<body class="body-home">

<% user_signed_in? && current_user.email == 'austin@sequoiacpe.com' ? @name = 'Austin' : '' %>
 <%#= image_tag "/assets/logo2.png", class: 'logo'%> <h2><span class="logo-text">Lorem & CO.</span>

  <!-- New Right Side menu-->
  <div class="dropdown header-size pull-right">
      <button class="btn-small name-text" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></button>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Courses</li>
            <li><a href="/datasheets">Datasheet</a></li>
            <li><a href="/updatesheets">Updatesheet</a></li>
            <li>  <a href="/exams">Exams</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Marketing</li>
            <li><a tabindex="-1"href="/mail_schedules">Mail Schedule</a></li>
            <li><a tabindex="-1"href="/mail_items">Mail contents</a></li>
        <% if user_signed_in? && current_user.superadmin_role?%>
        <li class="divider"></li>
            <li><a href="/admin">Admin</a></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            <!-- <li><a href="/users/sign_out">Log out</a></li> -->
        <% elsif user_signed_in? %>
        <li class="divider"></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% elsif %>
        <li class="divider"></li>
            <!-- <li><a href="/users/sign_up">Sign up</a></li> -->
            <li><a href="/users/sign_in">Log in</a></li>
        <% end %>
          </ul>
    </div>
  <!-- End Menu -->
</h2>

<h2 class="name-text text-center"><%= current_user.name %> Dashboard</h2>

<br />
<!-- Quick Notes section - Vue.js-->
  <div class="col-sm-3" id="app">
    <div class="well">
    <h2 class="text-center"> Quick Notes</h2>
    <input class="form-control" placeholder="Add A New Simple Task" v-model="newTodo" @keydown.enter="addTodo">
</br>
    <div class="list-unstyled list-group" >
      <span v-for="todo in todos" :class="{ completed: todo.completed }" class="list-group-item">
        <input type="checkbox" v-model="todo.completed">
        <button class="btn glyphicon glyphicon-remove" @click="remove(todo)"></button>
        <input type="text" v-if="todo === editTodo" v-auto-focus class="" @keyup.enter="endEdit(todo)" @blur="endEdit(todo)" v-model="todo.text">
        <label  class="" v-if="todo !== editTodo" @dblclick="edit(todo)">{{ todo.text }}</label>
      </span>
    </div>
  </div>

<!-- Future Task Section - rails model-->
<div class="well">
    <h2 class="text-center">Future Tasks</h2>
    <div class="text-center"><%= link_to 'New Task', new_note_path, class: 'btn btn-primary' %></div>
  </br>

    <% @notes.each do |note| %>
        <!-- Trigger the modal with a button -->
        <li class="list-group-item"><button type="button" class="btn btn-wrap-text text-align-right" data-toggle="modal" data-target="#myModal"><%= note.title %></button></li>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
              <% if user_signed_in? && note.user_id == current_user.id%>
                  <%= note.title %> | <%= link_to 'Edit', edit_note_path(note) %>

                </h4>
              </div>
              <div class="modal-body">

                  <tr>
                      <%= note.note %>
                  </tr>
                <% end %>
              </div>
              <div class="modal-footer">
                <a class="btn btn-primary" target="_blank" href="><%#= @note.doc %>">Task Docs</a>
                  <% if note.done == false %>
                    Status: <i class="fa fa-check-circle fa-2x table-icons-green"></i>
                  <% elsif %>
                    Status: <i class="fa fa-check-circle fa-2x table-icons-green"></i>
                  <% end %>

                  <% if note.type_one == true %> | Type: One
                  <% elsif note.type_two == true %> | Type: Two
                  <% elsif note.type_three == true%> | Type: Three
                  <% end %>
                  <% if note.due == true %>
                    | <%= note.due_date %>
                  <% elsif %>
                  <p></p>
                  <% end%>

                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
  <% end %>

  </div>
</div>


<!-- Mail scheule section -->
 <div class="col-sm-6">
 <% if user_signed_in? && current_user.superadmin_role? %>
  <div class="well">
  <h2 class="text-center">Upcoming Schedule</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><h4 class="body-text">Title</h4></th>
        <th><h4 class="body-text">Deliver Date</h4></th>
        <th><h4 class="body-text">Drop Date</h4></th>
        <th><h4 class="body-text">Art</h4></th>
        <th><h4 class="body-text">Data</h4></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mail_items.each do |mail_item| %>
        <tr>
          <td><%= mail_item.title %></td>
          <td><%= (mail_item.mailSchedule.drop_date - 10).strftime('%m/%d/%y') %></td>
          <td><%= mail_item.mailSchedule.drop_date.strftime('%m/%d/%y') %></td>

          <% if mail_item.image_file_name.to_s.empty? %>
            <td class=""><%= link_to '', edit_mail_item_path(mail_item), class: 'glyphicon glyphicon-upload icon' %></td>
          <% elsif %>
            <td class=""><%= link_to '', mail_item, class: 'glyphicon glyphicon-file table-icons-green icon' %></td>
          <% end %>

          <% if mail_item.data_file_name.to_s.empty? %>
            <td class=""><%= link_to '', edit_mail_item_path(mail_item), class: 'glyphicon glyphicon-upload icon' %></td>
          <% elsif %>
            <td class=""><%= link_to '', mail_item, class: 'glyphicon glyphicon-file table-icons-green icon' %></td>
          <% end %>

          <td><%= link_to 'Materials', mail_item, class: 'btn btn-default' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<% elsif %>

<!-- User role course info - not on admin role dashboard-->
<div class="well">
  <h2 class="text-center">Course Updates</h2>

  <% @status_check = [] %>
  <% @updatesheets.each do |updatesheet| %>
    <% if updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true && updatesheet.proofed == true %>
      <% @status_check.push(0) %>
    <% elsif %>
      <% @status_check.push(1) %>
    <% end %>
  <% end %>

  <!-- Status is pushed into an array done =1 not_done =2 ex: [1,2,1] => work needs to be done-->
  <!-- <%# if @status_check.itself.uniq.length == 1 %> -->

  <% if (@status_check.inject(0, :+)) == 0 %>
  <!-- <h3 class="green_text"> Courses are up to date </h3> -->
    <h4 class="text-center body-text"> No courses in-progress</h4>
  <% elsif (@status_check.inject(0, :+)) == 1 %>
    <h4 class="text-center body-text"> <i class=""></i> <%=(@status_check.inject(0, :+))%> course in-progress</h4>
  <% elsif %>
    <h4 class="text-center body-text"> <%=(@status_check.inject(0, :+))%> courses in-progress</h4>
  <% end %>
<h2>
  <div class="btn-group">
      <%= link_to 'View', updatesheets_path, class: 'btn btn-primary' %>
      <%= link_to 'Add', datasheets_path, class: 'btn btn-primary' %>
  </div>
</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Ver.</th>
        <th>Date Recieved</th>
        <th>Text</th>
        <th>Exam</th>
        <th>Proofed</th>
        <th>Details</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="myTable">
      <% @updatesheets.each do |updatesheet| %>
        <tr>
            <% if updatesheet.course_listed == false || updatesheet.text_complete == false || updatesheet.exam_complete == false || updatesheet.proofed == false %>
              <td><%= updatesheet.datasheet.seq_number %></td>
              <td><%= updatesheet.seq_version %></td>
              <td><%= updatesheet.date_received.strftime('%m/%d/%y') %></td>
        <!-- Text -->
              <% if updatesheet.text_complete == true %>
                <td class="green_text">Done</td>
                <% elsif updatesheet.text_complete == false %>
                <td class="red_text">No</td>
              <% end %>
        <!-- Exam -->
              <% if updatesheet.exam_complete == true %>
                <td class="green_text">Done</td>
                <% elsif updatesheet.exam_complete == false %>
                <td class="red_text">No</td>
              <% end %>
        <!-- Proof -->
              <% if updatesheet.proofed == true %>
                <td class="green_text"><strong>Yes</strong></td>
                <% elsif %>
                <td class="red_text"><strong>No</strong></td>
                <% end %>
                <td><%= link_to 'Details', updatesheet %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>

<!-- Left Sales Section -->
  <div class="col-sm-6 length right-square well">

     <ul class="nav nav-tabs">
<% if user_signed_in? && current_user.superadmin_role? %>
       <li class="active"><a data-toggle="tab" href="#total-sales">Daily</a></li>
       <li><a data-toggle="tab" href="#month-sales">Monthly</a></li>
<% end %>
       <li><a data-toggle="tab" href="#pie-sales">Distribution</a></li>
     </ul>
<% if user_signed_in? && current_user.superadmin_role? %>
     <div class="tab-content">
       <div id="total-sales" class="tab-pane fade in active text-center">
        <h2 class=""><%= (Date.today - 1).strftime('%A') %>: <br /> <%= number_to_currency(@day_sales_1.inject(0, :+), precision: 0) %></h2>
        <%= bar_chart @barG, prefix: "$", thousands: "," %>
       </div>

       <div id="month-sales" class="tab-pane fade text-center">
        <h2 class=""><%= (Date.today - 3).strftime('%b') %> to Date: <%= number_to_currency(@salesM_1.inject(0, :+), precision: 0) %></h2>
          <%= bar_chart @barGM, prefix: "$", thousands: "," %>
          <% @barGM %>
       </div>


       <div id="pie-sales" class="tab-pane fade text-center">
        <h2 class=""><%= (Date.today - 30).strftime('%Y') %></h2>
        <%= pie_chart @bar %>
       </div>
     </div>
<% elsif %>
     <div class="tab-content">
      <div id="pie-sales" class="tab-pane fade in active text-center">
        <h2 class=""><%= (Date.today - 30).strftime('%Y') %></h2>
        <%= pie_chart @bar %>
       </div>
      </div>
<% end %>

  </div>
  <div class="col-sm-6 length left-square well">

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#1">People</a></li>
      <li><a data-toggle="tab" href="#2">Reports</a></li>
    </ul>

    <div class="tab-content">
      <div id="1" class="tab-pane fade in active">
          <h2 class="text-center">Recent Orders</h2>

          <%# @name = [] %>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>product</th>
                <th>Des</td>
                <th colspan="3"></th>
              </tr>
            <thead>
          <tbody>
            <% @output.last(8).reverse.each do |orders| %>
            <tr>
              <td><%= (orders["f_name"])%> <%= truncate((orders["l_name"]), :length => 8)%></td>
              <td><%= (orders["product_1"]) %></td>
              <td><%=(orders['license']) %> </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <div id="2" class="tab-pane fade">
        <h4 class="text-center body-text"> PDF Download Sales/customer Reports</h4>
      </div>
    </div>

  </div>
  </div>
</div>

<div class="col-sm-3">
<% if user_signed_in? && current_user.superadmin_role? %>
  <div class="well">
    <h2 class="text-center">Course Updates</h2>

    <% @status_check = [] %>
    <% @updatesheets.each do |updatesheet| %>
      <% if updatesheet.course_listed == true && updatesheet.text_complete == true && updatesheet.exam_complete == true && updatesheet.proofed == true %>
        <% @status_check.push(0) %>
      <% elsif %>
        <% @status_check.push(1) %>
      <% end %>
    <% end %>

    <!-- Status is pushed into an array done =1 not_done =2 ex: [1,2,1] => work needs to be done-->
    <!-- <%# if @status_check.itself.uniq.length == 1 %> -->

    <% if (@status_check.inject(0, :+)) == 0 %>
    <!-- <h3 class="green_text"> Courses are up to date </h3> -->
    <h4 class="text-center body-text"> No courses in-progress <%= link_to '', updatesheets_path, class: 'btn-bigger1 glyphicon glyphicon-info-sign green btn btn-default' %></h4>
    <% elsif (@status_check.inject(0, :+)) == 1 %>
    <h4 class="text-center body-text"> <i class=""></i> <%=(@status_check.inject(0, :+))%> course in-progress <%= link_to '', updatesheets_path, class: 'btn-bigger1 glyphicon glyphicon-info-sign yellow btn btn-default' %></h4>
    <%elsif %>
    <h4 class="text-center body-text"> <%=(@status_check.inject(0, :+))%> courses in-progress <%= link_to '', updatesheets_path, class: 'btn-bigger1 glyphicon glyphicon-info-sign yellow btn btn-default' %></h4>
    <%end%>
    <h4 class="text-center"><%= link_to 'Add Update', datasheets_path, class: 'btn btn-primary' %><h4>

</div>
<% end %>

  <div class="well">
    <h2 class="text-center">Exams</h2>
    <h4 class="body-text text-center">Taken over the past year </h4>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#cpa-exam">CPA</a></li>
      <li><a data-toggle="tab" href="#ea-exam">EA</a></li>
    </ul>

    <div class="tab-content">
      <div id="cpa-exam" class="tab-pane fade in active">
        <!-- <h5>Exams taken over the last year</h5> -->
        <%= bar_chart Exam.where(:complete_date => 1.year.ago..Time.now, des: 'CPA').group(:seq_number).count %>
      </div>
      <div id="ea-exam" class="tab-pane fade">
        <!-- <h5>Exams taken over the last year</h5> -->
        <%= bar_chart Exam.where(:complete_date => 1.year.ago..Time.now, des: 'EA').group(:seq_number).count %>
      </div>
    </div>

  </div>
</div>


</body>


<script>

var todo = new Vue({
  el: '#app',
  data: {
    newTodo: '',
    todos: [],
    editTodo: {}
  },
  methods: {
    addTodo() {
      this.todos.push({ text: this.newTodo, completed: false });
      this.newTodo = '';
    },
    remove(todo) {
      // console.log('removed');
      let index = this.todos.indexOf(todo)
      this.todos.splice(index, 1)
      localStorage.setItem('todos', JSON.stringify(this.todos));
    },
    edit(todo) {
      // console.log('edit');
      this.editTodo = todo;
    },

    endEdit(todo) {
      // console.log('editEnd');
      this.editTodo = {};
      if (todo.text.trim() === ""){
        this.remove(todo);
      }
    },

  },
  mounted() {
    // console.log('mounted');
    if (localStorage.getItem('todos')) this.todos = JSON.parse(localStorage.getItem('todos'));
  },
  watch: {
    todos: {
      handler() {
        // console.log('changed');
        localStorage.setItem('todos', JSON.stringify(this.todos));
      },
      deep: true,
    },
  },
});


</script>
