<p id="notice"><%= notice %></p>

<p>
  <strong>Pes number:</strong>
  <%= @updatesheet.pes_number %>
</p>

<p>
  <strong>Pes version:</strong>
  <%= @updatesheet.pes_version %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @updatesheet.date_received %>
</p>

<p>
  <strong>Update course:</strong>
  <%= @updatesheet.update_course %>
</p>

<p>
  <strong>Note approval:</strong>
  <%= @updatesheet.note_approval %>
</p>

<p>
  <strong>Text complete:</strong>
  <%= @updatesheet.text_complete %>
</p>

<p>
  <strong>Exam complete:</strong>
  <%= @updatesheet.exam_complete %>
</p>

<p>
  <strong>Course listed:</strong>
  <%= @updatesheet.course_listed %>
</p>

<p>
  <strong>Date listed:</strong>
  <%= @updatesheet.date_listed %>
</p>

<p>
  <strong>Role:</strong>
  <%= @updatesheet.role %>
</p>

<p>
  <strong>Rolep:</strong>
  <%= @updatesheet.rolep %>
</p>

<p>
  <strong>Irs number:</strong>
  <%= @updatesheet.irs_number %>
</p>

<p>
  <strong>Proofed:</strong>
  <%= @updatesheet.proofed %>
</p>

<p>
  <strong>Proofed note:</strong>
  <%= @updatesheet.proofed_note %>
</p>

<p>
  <strong>Datasheet:</strong>
  <%= @updatesheet.datasheet_id %>
</p>

<p>
  <strong>Seq number:</strong>
  <%= @updatesheet.seq_number %>
</p>

<p>
  <strong>Seq version:</strong>
  <%= @updatesheet.seq_version %>
</p>

<p>
  <strong>Seq title:</strong>
  <%= @updatesheet.seq_title %>
</p>

<p>
  <strong>Extra string:</strong>
  <%= @updatesheet.extra_string %>
</p>

<p>
  <strong>Extra integer:</strong>
  <%= @updatesheet.extra_integer %>
</p>

<p>
  <strong>Extra boolean:</strong>
  <%= @updatesheet.extra_boolean %>
</p>

<%= link_to 'Edit', edit_updatesheet_path(@updatesheet) %> |
<%= link_to 'Back', updatesheets_path %>
