<p id="notice"><%= notice %></p>

<p class="display-none"><strong>Mailing Notes: </strong><%= @mail_item.note_1 %></p>

<!-- Local Host  -->
<!-- <a class="btn btn-default display-none" target="_blank" href="http://localhost:3000/<%= @mail_item.image %>">Art Download</a> -->
<a class="btn btn-default display-none" target="_blank" href="https://s3.us-east-2.amazonaws.com/<%= @mail_item.image %>">Art Download</a>
<a class="btn btn-default display-none" target="_blank" href="http://localhost:3000/<%= @mail_item.data %>">Data Download</a>
<%= link_to 'Schedule Download', mail_item_path(@mail_item, :format => 'pdf'), class: 'btn btn-default display-none', target: '_blank'%>


<h1>Sequoia CPE Mailing</h1>
  <h2><%= Date.today.strftime('%m/%d/%y') %></h2>

<%= image_tag @mail_item.image.url(:medium) %>
<%= @mail_item.image.url %>



<table class="table table-hover">
  <thead>
    <tr>
<!-- <th><strong >Mail:</strong></th> -->
<th><strong>Title:</strong></th>
<th><strong>Drop Date:</strong></th>
<th><strong>Quantity:</strong></th>
<th><strong>Data File:</strong></th>
<th><strong>Art File:</strong></th>
</thead>


</tbody>
<!-- <td><%= @mail_item.mail_id %></td> -->
<td><%= @mail_item.title %></td>
<td><%= @mail_item.mailSchedule.drop_date.strftime('%m/%d/%y') %></td>
<td><%= number_with_delimiter(@mail_item.quantity) %></td>
<td><%= @mail_item.mail_id.to_f / 10 %>.xlsx</td>
<td><%= @mail_item.mail_id.to_f / 10 %>.pdf</td>
</tr>
</tbody>
</table>

<p>
   <!-- <strong>Msi note:</strong> -->
  <%= @mail_item.msi_note.html_safe %>
</p>

<!--<p>
  <strong>Note 2:</strong>
  <%= @mail_item.note_2 %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @mail_item.complete %>
</p>

<p>
  <strong>Boolean 1:</strong>
  <%= @mail_item.boolean_1 %>
</p>

<p>
  <strong>Integer 1:</strong>
  <%= @mail_item.integer_1 %>
</p> -->

<%= link_to 'Edit | ', edit_mail_item_path(@mail_item), class: 'display-none' %>
<%= link_to 'Back', mail_items_path, class: 'display-none' %>
