<p id="notice"><%= notice %></p>

<p class="display-none"><strong>Mailing Notes: </strong><%= @mail_item.note_1 %></p>

<!-- Local Host  -->
<!-- <a class="btn btn-default display-none" target="_blank" href="http://localhost:3000/<%= @mail_item.image %>">Art Download</a> -->
<div class="btn-group display-none">
    <a class="btn btn-primary" target="_blank" href="<%= @mail_item.image %>"><i class="glyphicon glyphicon-download-alt" ></i> Art</a>
    <a class="btn btn-primary" target="_blank" href="<%= @mail_item.data %>"><i class="glyphicon glyphicon-download-alt" ></i> Data</a>
    <%= link_to raw('<i class="glyphicon glyphicon-download-alt" ></i> Schedule'), mail_item_path(@mail_item, :format => 'pdf'), class: 'btn btn-primary', target: '_blank'%>
</div>
<div>
<br/>
<%= link_to 'Upload Files', edit_mail_item_path(@mail_item), class: 'display-none btn  btn-default' %>
</div>

<h1>MKTG Mailings</h1>
  <h2><%= Date.today.strftime('%-m/%-d/%y') %></h2>

<table class="table table-hover">
  <thead>
    <tr>
<!-- <th><strong >Mail:</strong></th> -->
<th><strong>Title:</strong></th>
<th><strong>Drop Date:</strong></th>
<th><strong>Quantity:</strong></th>
<th><strong>Art File:</strong></th>
<th><strong>Data File:</strong></th>
</thead>


</tbody>
<td><%= @mail_item.title %></td>
<td><%= @mail_item.mailSchedule.drop_date.strftime('%m/%d/%y') %></td>
<td><%= number_with_delimiter(@mail_item.quantity) %></td>
<!-- Art File Name -->
<% if @mail_item.image_file_name.to_s.empty? %>
    <td><i class="glyphicon glyphicon-file table-icons-red display-none"></i> Empty</td>
<% elsif %>
    <td><i class="glyphicon glyphicon-file table-icons-green display-none"></i> <%= @mail_item.image_file_name %></td>
<% end %>

<!-- Data File Name -->
<% if @mail_item.data_file_name.to_s.empty? %>
    <td><i class="glyphicon glyphicon-file table-icons-red display-none"></i> Empty</td>
<% elsif %>
    <td><i class="glyphicon glyphicon-file table-icons-green display-none"></i> <%= @mail_item.data_file_name %></td>
<% end %>
</tr>
</tbody>
</table>


<div class="print-only">
  <p><%= @mail_item.msi_note.html_safe %></p>
</div>

<%= link_to 'Edit | ', edit_mail_item_path(@mail_item), class: 'display-none' %>
<%= link_to 'Back', mail_items_path, class: 'display-none' %>
