<%= form_with(model: mailing_schedule, local: true) do |form| %>
  <% if mailing_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mailing_schedule.errors.count, "error") %> prohibited this mailing_schedule from being saved:</h2>

      <ul>
      <% mailing_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mail_id %>
    <%= form.text_field :mail_id, id: :mailing_schedule_mail_id %>
  </div>

  <div class="field">
    <%= form.label :drop_date %>
    <%= form.date_select :drop_date, id: :mailing_schedule_drop_date %>
  </div>

  <div class="field">
    <%= form.label :30_group %>
    <%= form.number_field :30_group, id: :mailing_schedule_30_group %>
  </div>

  <div class="field">
    <%= form.label :60_group %>
    <%= form.number_field :60_group, id: :mailing_schedule_60_group %>
  </div>

  <div class="field">
    <%= form.label :90_group %>
    <%= form.number_field :90_group, id: :mailing_schedule_90_group %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
