<p id="notice"><%= notice %></p>

<h1>Mailing Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Mail</th>
      <th>Drop date</th>
      <th>30 group</th>
      <th>60 group</th>
      <th>90 group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mailing_schedules.each do |mailing_schedule| %>
      <tr>
        <td><%= mailing_schedule.mail_id %></td>
        <td><%= mailing_schedule.drop_date %></td>
        <td><%= mailing_schedule.30_group %></td>
        <td><%= mailing_schedule.60_group %></td>
        <td><%= mailing_schedule.90_group %></td>
        <td><%= link_to 'Show', mailing_schedule %></td>
        <td><%= link_to 'Edit', edit_mailing_schedule_path(mailing_schedule) %></td>
        <td><%= link_to 'Destroy', mailing_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mailing Schedule', new_mailing_schedule_path %>
