<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @mailing_schedule.mail_id %>
</p>

<p>
  <strong>Drop date:</strong>
  <%= @mailing_schedule.drop_date %>
</p>

<p>
  <strong>30 group:</strong>
  <%= @mailing_schedule.30_group %>
</p>

<p>
  <strong>60 group:</strong>
  <%= @mailing_schedule.60_group %>
</p>

<p>
  <strong>90 group:</strong>
  <%= @mailing_schedule.90_group %>
</p>

<%= link_to 'Edit', edit_mailing_schedule_path(@mailing_schedule) %> |
<%= link_to 'Back', mailing_schedules_path %>
