<p id="notice"><%= notice %></p>

<div class="well text-center">
  <h1>Exams</h1>
</div>


<% @arr_cpa = [] %>

<%# ordersheet.pur_date == (@today - 1) ? @today_sales_1.push(ordersheet.order_total) : '' %>

<% @exams.each do |exam| %>
  <% if exam.des == 'CPA' %>
    <% @arr_cpa.push(exam.seq_number)%>
  <% end %>
<% end %>

CPA Array <%= @arr_cpa %>

<% @cpa = Exam.select('seq_title') %>

<%= @cpa %>

<% @day = Exam.group(:seq_number, :des).order(:des, :seq_number).count %>

<!-- <%= @day %> -->

<% @day.each do |e| %>
  <div> Course: <%= e.join(" , ") %></div>
<%end%>

<%#= bar_chart Shirt.group(:size).sum(:price) %>

<%= bar_chart Exam.group(:seq_number).count %>

<!-- <% @arr_exam = [] %>

<% @exams.each do |exam| %>
  <% @arr_exam.push(exam.seq_number)%>
<% end %>

<% @arr =  @arr_exam.group_by(&:to_s).map { |a| [a[0], a[1].count] }.to_h %>

<% @arr.each do |title| %>
  <div>Exam: <%= title.join(" | ") %></div>
<%end%> -->

<!-- <div> Total Exams Taken: <%= @arr_exam.length %> -->


<table class="table table-hover">
  <thead>
    <tr>
      <th>Eid</th>
      <th>Uid</th>
      <th>Des</th>
      <th>Start date</th>
      <th>Complete date</th>
      <th>Seq number</th>
      <th>V</th>
      <th>Title</th>
      <th>Score</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<!-- .limit(10) -->
  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.eid %></td>
        <td><%= exam.uid %></td>
        <td><%= exam.des %></td>
        <td><%= exam.start_date.strftime('%m/%d/%y') %></td>
        <td><%= exam.complete_date.strftime('%m/%d/%y') %></td>
        <td><%= exam.seq_number %></td>
        <td><%= exam.seq_v %></td>
        <td><%= truncate(exam.seq_t, :length => 25) %></td>
        <td><%= number_to_percentage((100*exam.score), precision: 0) %></td>
        <td><%= exam.rating %></td>
        <td><%= link_to 'Show', exam %></td>
        <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
        <td><%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam', new_exam_path %>

<h3>Upload CSV File</h3>
  <%= form_tag import_exams_path, multipart: true do %>
  <%= file_field_tag :file %>
</br>
  <%= submit_tag 'Upload', class: 'btn btn-primary' %>
<% end %>
