<!DOCTYPE html>
<html>
  <head>
    <title>Final Project - Dashboard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Varela+Round|Alfa+Slab+One" rel="stylesheet">
  </head>

  <body>

<% unless controller_name == "dashboard" %>
<!-- this nav bar is for non dashboard -->

  <% if user_signed_in? %>
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Lorem & CO.', dashboard_home_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Datasheet', datasheets_path %></li>
          <li><%= link_to 'UpdateSheet', updatesheets_path %></li>
          <li><%= link_to 'Exams', exams_path %></li>
          <li><%= link_to 'Mail Schedule', mail_schedules_path %></li>
          <li><%= link_to 'Mailing Contents', mail_items_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.name, edit_user_registration_path %></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'log in', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- not logged in - get a empty nav bar -->
    <% elsif %>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Lorem & CO.</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'log in', new_user_session_path %></li>
        <!-- <li><%= link_to 'sign up', new_user_registration_path %></li> -->
      </ul>
    </div>
  </nav>
  <% end %>
<% end %>

    <%= yield %>

  </body>
</html>
